.favorites{
    margin-top: 16px;
}

.updateButton{
    width: 100%;
    height: 48px;
}

.noLots{
    font-size: 18px;
    color: var(--muted-text);
    margin-top: 24px;
}

@media screen and (min-width: 480px) {
	.updateButton{
        width: 200px;
    }
}
