.newLotButton {
    width: 220px;
}

.noLots{
    margin-top: 24px;
    font-size: 18px;
    color: var(--muted-text);
}

@media screen and (min-width: 480px) {
	.newLotHref {
        width: 260px;
    }
}
