.helpBlock{
    margin-top: 14px;
}

.label{
    font-size: 14px;
    font-weight: 500;
    color: var(--muted-text);
}

.emailContainer{
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.emailIcon{
    width: 24px;
    height: 24px;
}

.email{
    padding-left: 12px;
    font-size: 15px;
    font-weight: 500;
    color: black;
}

@media screen and (min-width: 768px) {
    .helpBlock{
        margin-top: 24px;
    }
}
